body {
}

.location-image {
    width: 100%;
}

.navbar {
    margin-bottom: -10px;
}
.image-container {
     position:relative;
     text-align:center;
}
.image-button {
    position: absolute;
    bottom:40%;
    left: 40%;
    width:250px;
    height:80px;
    background: none;
    color: #ffffff;
    border: 3px solid #fff;
    font-size: 2.7em;
    
}

.image-button:hover {
    background: none;
    color: #ffffff;
    border: 3px solid #fff;
}